<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >

    <test name="GoogleSearchUITests1" >
    <parameter name="queryTextParameter"  value="Portnov Computer School"/>
    <classes>
        <class name="GoogleSearchTest">
            <methods>
                <parameter name="setupBrowserType" value="webdriver.gecko.driver"/>
                <parameter name="setupBrowserPath" value="C:\Users\AlexK\IdeaProjects\decWebdriverTestNG\src\test\resources\geckodriver.exe"></parameter>
                <include name="setup"/>
                <include name="test0001"/>
            </methods>
        </class>

    </classes>
    </test>

    <test name="GoogleSearchUITests2" >
        <parameter name="queryTextParameter"  value="Portnov"/>
        <classes>
            <class name="GoogleSearchTest">
                <methods>
                    <parameter name="setupBrowserType" value="webdriver.gecko.driver"/>
                    <parameter name="setupBrowserPath" value="C:\Users\AlexK\IdeaProjects\decWebdriverTestNG\src\test\resources\geckodriver.exe"></parameter>
                    <include name="setup"/>
                    <include name="test0001"/>
                </methods>
            </class>

        </classes>
    </test>

    <test name="XPathTests">
        <parameter name="xpathparameter" value="//*[@id='username']"></parameter>
        <classes>
            <class name="XpathTests">
                <methods>
                   <include name="test001"/>
                </methods>
            </class>
        </classes>
    </test>


</suite>
